body {
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    background-color: #1900a8;
    padding: 20px 0;
    text-align: center;
    font-size: 2.5em;
}

p {
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
}

input[type="button"] {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #ff00ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="button"]:hover {
    background-color: #ff007f;
}
