body {
    background-image: url('../img/fondo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    letter-spacing: 0.15em;
    word-spacing: 0.2em;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.review {
    margin-bottom: 20px;
}

.review p {
    margin: 5px 0;
}

.review hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}
footer {
    background-color: #333;
    padding: 20px 0;
    text-align: center;
    color: aliceblue;
}
footer{
    margin-top: 3%;
}
.footer-nav {
    text-align: center; /* Centra los enlaces horizontalmente */
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    margin-right: 20px; /* Ajusta el margen derecho para separar los enlaces */
    border-radius: 10px; /* Agrega bordes redondeados */
}

.footer-nav a:last-child {
    margin-right: 0; /* Elimina el margen derecho del último enlace para evitar un espacio adicional */
}

.footer-nav a:hover {
    background-color: #b3ff003f; /* Color de fondo cuando se pasa el cursor */
    border-radius: 10px; /* Agrega bordes redondeados al pasar el cursor */
}